.popup__text {
    border: 0;
    padding-bottom: 13px;
    border-bottom: 1px solid  rgb(84,84,84,0.2);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0px 0 0;
    position: relative;
}

.popup__text:first-of-type {
    margin-top: 0;
}

.popup__text_type_error {
    border-bottom: solid 1px red;
}

.popup__text_type_error:focus {
    border-bottom: solid 2px red;
}

.popup__text_error{
    min-height: 25px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
    color: #FF0000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    visibility:hidden;
}

.popup__text_error_visible{
    visibility: visible;
}

@media screen and (max-width: 700px){
    .popup__text {
        font-size: 12px;
        line-height: 15px;
    }
}
