.element__image {
    object-fit: cover;
    object-position: center;
    height: 282px;
    width: 282px;
}

@media screen and (max-width: 320px){
    .element__image {
        height: 88.375vw;
        width:  88.375vw;
    }
}

