.profile__edit-avatar {
    background-image: url(../../../images/edit_avatar_icon.svg);
    background-repeat : no-repeat;
    background-position: center;
    width: 120px;
    height:120px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    opacity: 0;
    transition: opacity .3s ease;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
}

.profile__edit-avatar:hover {
    opacity: 1;
}